@use "./reset";
@use "./global";
@import "./responsive";

html,
body {
  min-height: 100%;
}

.top-container {
  margin: 5rem 10rem;
  display: flex;
  justify-content: space-between;
  @include desktop {
    display: block;
    margin: 2rem 4rem;
  }
  .header {
    width: 35%;
    @include desktop {
      width: 100%;
      margin-bottom: 3rem;
      text-align: center;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: hsl(300, 43%, 22%);
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1rem;
      color: hsl(303, 10%, 53%);
    }
  }

  .ratings {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    @include desktop {
      margin: 0 auto;
      align-items: center;
      width: 50%;
      min-width: 500px;
    }
    @include tablet {
      width: 100%;
      min-width: 320px;
    }
    li {
      background-color: hsl(300, 24%, 96%);
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      width: 80%;
      @include tablet {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 2rem;
      }
      span {
        color: hsl(300, 43%, 22%);
        font-weight: bold;
      }
    }
  }
}

.bottom-container {
  margin: 5rem 10rem;
  display: flex;
  justify-content: space-evenly;
  .users {
    display: flex;
    justify-content: space-between;

    li {
      width: 30%;
      background-color: hsl(300, 43%, 22%);
      padding: 2rem 1.75rem;
      border-radius: 10px;
      .users__header {
        display: flex;
        margin-bottom: 1.5rem;
        div {
          display: flex;
          flex-direction: column;
          padding-left: 1rem;
          justify-content: center;
          gap: 0.2rem;
        }
      }
      img {
        border-radius: 100%;
      }
      h3 {
        color: hsl(0, 0%, 100%);
        font-size: 1rem;
      }
      h4 {
        color: hsl(333, 80%, 67%);
        font-size: 0.9rem;
        font-weight: lighter;
      }
      p {
        color: hsl(0, 0%, 100%);
        font-size: 0.75rem;
        letter-spacing: 0.05rem;
      }
    }
  }
}
